.section-about {
  padding: 6rem 6rem;
  border-bottom: 1px solid #f3f3f3; }
  @media only screen and (min-width: 37.5em) {
    .section-about {
      padding: 9rem 6rem; } }
  @media only screen and (min-width: 46.875em) {
    .section-about {
      padding: 9rem 9rem; } }

.about {
  max-width: 1200px;
  margin: 0 auto; }
  @media only screen and (min-width: 46.875em) {
    .about {
      display: flex;
      flex-direction: row-reverse;
      align-items: center; } }
  .about__avatar-box {
    text-align: center;
    margin-bottom: 4rem; }
    @media only screen and (min-width: 46.875em) {
      .about__avatar-box {
        width: 40%;
        margin-bottom: 0;
        margin-left: 10rem; } }
  .about__avatar {
    border-radius: 50%;
    max-width: 50%; }
    @media only screen and (min-width: 37.5em) {
      .about__avatar {
        max-width: 30rem; } }
    @media only screen and (min-width: 46.875em) {
      .about__avatar {
        width: 100%;
        max-width: 35rem; } }
  @media only screen and (min-width: 46.875em) {
    .about__text-box {
      width: 60%; } }
  .about__text {
    font-size: 2rem; }
    .about__text:not(:last-child) {
      margin-bottom: 1.5rem; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 50%; }
  @media only screen and (min-width: 56.25em) {
    html {
      font-size: 56.25%; } }

body {
  box-sizing: border-box; }

::selection {
  background-color: #285185;
  color: #ffffff; }

.footer-container {
  padding: 0 2rem;
  background-color: #f3f3f3; }

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
  padding-top: 1rem;
  max-width: 1200px;
  margin: 0 auto; }
  .footer__copyright {
    font-size: 2rem; }
  .footer__contact {
    display: flex; }
    .footer__contact-item {
      font-size: 2.5rem;
      padding-left: 2.5rem; }
    .footer__contact-icon {
      background-color: #285185;
      color: #ffffff;
      border-radius: 50%;
      padding: 1rem; }
    .footer__contact-icon {
      background-color: #666666; }
      .footer__contact-icon:hover {
        background-color: #a3a3a3; }

.header {
  padding: 0 2rem;
  border-bottom: 1px solid #f3f3f3; }

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
  padding-top: 1rem;
  max-width: 1200px;
  margin: 0 auto; }
  .navbar__logo {
    height: 8rem; }
  .navbar__contact {
    display: flex; }
    .navbar__contact-item {
      font-size: 2.5rem;
      padding-left: 2.5rem; }
    .navbar__contact-icon {
      background-color: #285185;
      color: #ffffff;
      border-radius: 50%;
      padding: 1rem; }
    .navbar__contact-icon {
      background-color: #285185; }
      .navbar__contact-icon:hover {
        background-color: #6985aa; }

.section-projects {
  padding: 6rem 6rem; }
  @media only screen and (min-width: 37.5em) {
    .section-projects {
      padding: 9rem 6rem; } }
  @media only screen and (min-width: 46.875em) {
    .section-projects {
      padding: 9rem 9rem; } }

.projects {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 6rem;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto; }
  @media only screen and (min-width: 37.5em) {
    .projects {
      grid-template-columns: 60rem; } }
  @media only screen and (min-width: 46.875em) {
    .projects {
      grid-template-columns: 100%; } }
  @media only screen and (min-width: 56.25em) {
    .projects {
      grid-template-columns: repeat(2, 1fr);
      align-items: stretch; } }

.project-card {
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 8px rgba(102, 102, 102, 0.2);
  padding: 4rem; }
  @media only screen and (min-width: 46.875em) {
    .project-card {
      flex-direction: row; } }
  @media only screen and (min-width: 56.25em) {
    .project-card {
      flex-direction: column; } }
  @media only screen and (min-width: 46.875em) {
    .project-card__text-box {
      align-self: center;
      flex: 1 1 0;
      margin-right: 3rem; } }
  .project-card__text {
    font-size: 1.7rem;
    margin-bottom: 3rem; }
  .project-card__image-box {
    max-width: 100%;
    background-color: #f3f3f3;
    padding: 0.5rem;
    border-radius: 1rem; }
    @media only screen and (min-width: 46.875em) {
      .project-card__image-box {
        align-self: center;
        flex: 1 1 0; } }
    @media only screen and (min-width: 56.25em) {
      .project-card__image-box {
        flex: 0; } }
  .project-card__image {
    display: block;
    max-width: 100%;
    border-radius: 1rem; }

.content {
  position: relative; }
  .content__overlay {
    background: rgba(40, 81, 133, 0.8);
    position: absolute;
    border-radius: 1rem;
    inset: 0;
    opacity: 0;
    transition: all 0.3s ease-in-out 0.1s; }
  .content:hover .content__overlay {
    opacity: 1; }
  .content__details {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    text-align: center;
    opacity: 0;
    transition: all 0.3s ease-in-out 0.1s; }
  .content:hover .content__details {
    opacity: 1; }
  .content__link {
    text-decoration: none;
    color: #ffffff;
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    padding: 0.5rem 2.5rem;
    border: 1px solid white;
    border-radius: 4rem; }

.section-skills {
  padding: 6rem 4rem;
  border-bottom: 1px solid #f3f3f3;
  background-color: #f3f3f3; }
  @media only screen and (min-width: 37.5em) {
    .section-skills {
      padding: 9rem 4rem; } }
  @media only screen and (min-width: 46.875em) {
    .section-skills {
      padding: 9rem 6rem; } }

.skills {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  grid-gap: 3rem;
  align-items: center;
  justify-items: center;
  max-width: 1200px;
  margin: 0 auto; }
  @media only screen and (min-width: 37.5em) {
    .skills {
      grid-template-columns: repeat(4, 1fr); } }
  @media only screen and (min-width: 56.25em) {
    .skills {
      grid-template-columns: repeat(6, 1fr); } }

.tech-logo--landscape {
  width: 80%;
  max-width: 15rem;
  min-height: 10rem; }

.tech-logo--portrait {
  height: 70%;
  max-height: 15rem; }

body {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6;
  color: #666666; }

.heading-primary {
  font-family: "Merriweather", serif;
  font-size: 3rem;
  color: #285185;
  margin-bottom: 1.5rem; }

.heading-secondary {
  font-family: "Merriweather", serif;
  font-size: 2.5rem;
  color: #285185;
  margin-bottom: 1.5rem; }
