.section-about {
  padding: 6rem 6rem; }
  @media only screen and (min-width: 37.5em) {
    .section-about {
      padding: 9rem 6rem; } }
  @media only screen and (min-width: 46.875em) {
    .section-about {
      padding: 9rem 9rem; } }

.about {
  max-width: 1200px;
  margin: 0 auto; }
  @media only screen and (min-width: 46.875em) {
    .about {
      display: flex;
      flex-direction: row-reverse;
      align-items: center; } }
  .about__avatar-box {
    text-align: center;
    margin-bottom: 4rem; }
    @media only screen and (min-width: 46.875em) {
      .about__avatar-box {
        width: 40%;
        margin-bottom: 0;
        margin-left: 10rem; } }
  .about__avatar {
    border-radius: 50%;
    max-width: 50%; }
    @media only screen and (min-width: 37.5em) {
      .about__avatar {
        max-width: 30rem; } }
    @media only screen and (min-width: 46.875em) {
      .about__avatar {
        width: 100%;
        max-width: 35rem; } }
  @media only screen and (min-width: 46.875em) {
    .about__text-box {
      width: 60%; } }
  .about__text {
    font-size: 2rem; }
    .about__text:not(:last-child) {
      margin-bottom: 1.5rem; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 50%; }
  @media only screen and (min-width: 56.25em) {
    html {
      font-size: 56.25%; } }

body {
  box-sizing: border-box; }

::selection {
  background-color: #285185;
  color: #ffffff; }

.footer-container {
  padding: 0 2rem;
  background-color: #f3f3f3; }

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
  padding-top: 1rem;
  max-width: 1200px;
  margin: 0 auto; }
  .footer__copyright {
    font-size: 2rem; }
  .footer__contact {
    display: flex; }
    .footer__contact-item {
      font-size: 2.5rem;
      padding-left: 2.5rem; }
    .footer__contact-icon {
      background-color: #285185;
      color: #ffffff;
      border-radius: 50%;
      padding: 1rem; }
    .footer__contact-icon {
      background-color: #666666; }
      .footer__contact-icon:hover {
        background-color: #a3a3a3; }

.header {
  padding: 0 2rem;
  border-bottom: 1px solid #f3f3f3; }

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
  padding-top: 1rem;
  max-width: 1200px;
  margin: 0 auto; }
  .navbar__logo {
    height: 8rem; }
  .navbar__contact {
    display: flex; }
    .navbar__contact-item {
      font-size: 2.5rem;
      padding-left: 2.5rem; }
    .navbar__contact-icon {
      background-color: #285185;
      color: #ffffff;
      border-radius: 50%;
      padding: 1rem; }
    .navbar__contact-icon {
      background-color: #285185; }
      .navbar__contact-icon:hover {
        background-color: #6985aa; }

.section-projects {
  padding: 6rem 6rem; }
  @media only screen and (min-width: 37.5em) {
    .section-projects {
      padding: 9rem 6rem; } }
  @media only screen and (min-width: 46.875em) {
    .section-projects {
      padding: 9rem 9rem; } }

.projects {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 6rem;
  align-items: center;
  justify-content: center; }

.project-card {
  box-shadow: 0 2px 8px rgba(102, 102, 102, 0.2);
  padding: 4rem; }
  .project-card__image-box {
    max-width: 100%;
    background-color: #f3f3f3;
    padding: 1rem; }
  .project-card__image {
    max-width: 100%; }
  .project-card__text {
    font-size: 1.7rem; }

.section-skills {
  padding: 6rem 4rem;
  background-color: #f3f3f3; }
  @media only screen and (min-width: 37.5em) {
    .section-skills {
      padding: 9rem 4rem; } }
  @media only screen and (min-width: 46.875em) {
    .section-skills {
      padding: 9rem 6rem; } }

.skills {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  grid-gap: 3rem;
  align-items: center;
  justify-items: center;
  max-width: 1200px;
  margin: 0 auto; }
  @media only screen and (min-width: 37.5em) {
    .skills {
      grid-template-columns: repeat(4, 1fr); } }
  @media only screen and (min-width: 56.25em) {
    .skills {
      grid-template-columns: repeat(6, 1fr); } }

.tech-logo--landscape {
  width: 80%;
  max-width: 15rem;
  min-height: 10rem; }

.tech-logo--portrait {
  height: 70%;
  max-height: 15rem; }

body {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6;
  color: #666666; }

.heading-secondary {
  font-family: "Merriweather", serif;
  font-size: 3rem;
  color: #285185;
  margin-bottom: 1.5rem; }

.heading-tertiary {
  font-family: "Merriweather", serif;
  font-size: 2.5rem;
  margin-bottom: 1.5rem; }
