.section-about {
  display: flex;
  padding: 6rem 6rem;
  border-bottom: 2px solid $color-grey-light;
  min-height: 65vh;
  background-color: $color-grey-light;

  @include respond(small) {
    padding: 9rem 6rem;
    margin: auto;
  }

  @include respond(medium) {
    padding: 9rem 9rem;
    margin: auto;
  }
}

.about {
  @include max-width;

  @include respond(medium) {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  &__avatar-box {
    text-align: center;
    margin-bottom: 4rem;

    @include respond(medium) {
      width: 40%;
      margin-bottom: 0;
      margin-left: 10rem;
    }
  }

  &__avatar {
    border-radius: 50%;
    max-width: 50%;

    @include respond(small) {
      max-width: 30rem;
    }

    @include respond(medium) {
      width: 100%;
      max-width: 35rem;
    }
  }

  &__text-box {
    @include respond(medium) {
      width: 60%;
    }
  }

  &__text {
    font-size: 2rem;

    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }
  }
}
