.section-about {
  padding: 6rem 6rem;

  @include respond(small) {
    padding: 9rem 6rem;
  }

  @include respond(medium) {
    padding: 9rem 9rem;
  }
}

.about {
  @include max-width;

  @include respond(medium) {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  &__avatar-box {
    text-align: center;
    margin-bottom: 4rem;

    @include respond(medium) {
      width: 40%;
      margin-bottom: 0;
      margin-left: 10rem;
    }
  }

  &__avatar {
    border-radius: 50%;
    max-width: 50%;

    @include respond(small) {
      max-width: 30rem;
    }

    @include respond(medium) {
      width: 100%;
      max-width: 35rem;
    }
  }

  &__text-box {
    @include respond(medium) {
      width: 60%;
    }
  }

  &__text {
    &:not(:first-child) {
      font-size: 2rem;
      margin-top: 1rem;
    }
  }
}
