// Color variables

$color-white: #ffffff;
$color-grey-light: #f3f3f3;
$color-grey-medium: #a3a3a3;
$color-grey-dark: #666666;

$color-secondary-light: #6985aa;
$color-secondary-dark: #285185;

$color-tertiary: #7a2640;

// Mixins

@mixin max-width {
  max-width: 1200px;
  margin: 0 auto;
}

@mixin respond($breakpoint) {
  @if $breakpoint == small {
    @media only screen and (min-width: 37.5em) {
      @content;
    } // >= 600px
  }
  @if $breakpoint == medium {
    @media only screen and (min-width: 46.875em) {
      @content;
    } // >= 750px
  }
  @if $breakpoint == large {
    @media only screen and (min-width: 56.25em) {
      @content;
    } // >= 900px
  }
}

@mixin contact {
  display: flex;

  &-item {
    font-size: 2.5rem;
    padding-left: 2.5rem;
  }

  &-icon {
    background-color: $color-secondary-dark;
    color: $color-white;
    border-radius: 50%;
    padding: 1rem;
  }
}
