*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 50%; // 1rem = 8px

  @include respond(large) {
    font-size: 56.25%; // 1rem = 9px
  }
}

body {
  box-sizing: border-box;
}

::selection {
  background-color: $color-secondary-dark;
  color: $color-white;
}
