.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;

  @include max-width;

  &__copyright {
    font-size: 2rem;
  }

  &__contact {
    @include contact;
  }
}
