.header {
  padding: 0 2rem;
  border-bottom: 1px solid $color-grey-light;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
  padding-top: 1rem;

  @include max-width;

  &__logo {
    height: 8rem;
  }

  &__contact {
    @include contact;

    &-icon {
      background-color: $color-tertiary-dark;

      &:hover {
        background-color: $color-tertiary-light;
      }
    }
  }
}
