.header {
  padding: 0 2rem;
  border-bottom: 1px solid $color-grey-light;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;

  @include max-width;
}

.contact {
  display: flex;

  &__item {
    font-size: 2.5rem;
    padding-left: 2.5rem;
  }

  &__icon {
    background-color: $color-grey-dark;
    color: $color-white;
    border-radius: 50%;
    padding: 1rem;
  }
}
