.section-skills {
  padding: 6rem 2rem;
  background-color: $color-grey-light;
}

.skills {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  grid-gap: 3rem;
  align-items: center;
  justify-items: center;

  @include max-width;

  @include respond(medium) {
    grid-template-columns: repeat(4, 1fr);
  }

  @include respond(large) {
    grid-template-columns: repeat(6, 1fr);
  }
}

.tech-logo {
  &--landscape {
    width: 80%;
    max-width: 15rem;
    min-height: 10rem;
  }

  &--portrait {
    height: 70%;
    max-height: 15rem;
  }
}
